@charset "utf-8";

@font-face {
  font-family: "NotoSansKR-bold";
  src: url(../font/NotoSansKR-Bold.woff2) format("woff2"),
  url(../font/NotoSansKR-Bold.woff) format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "NotoSansKR-medium";
  src: url(../font/NotoSansKR-Medium.woff2) format("woff2"),
  url(../font/NotoSansKR-Medium.woff) format("woff");;
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "NotoSansKR";
  src: url(../font/NotoSansKR-Regular.woff2) format("woff2"),
  url(../font/NotoSansKR-Regular.woff) format("woff");;
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}