@charset "utf-8";
html {
  font-size: 62.5%;
}

body {
  font-size: 1rem;
  font-family: "Noto Sans Kr", system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
    sans-serif;
  font-weight: 400;
}

/****** skip navigation ******/
.skip_nav {
  position: absolute;
  top: -40px;
  left: 0;
  width: 150px;
  height: 40px;
  font-size: 16px;
  z-index: 99999;
}

.skip_nav a {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000;
  text-align: center;
  line-height: 40px;
  color: #fff;
}

.skip_nav a:focus,
.skip_nav a:active{
  top: 100%;
}


/****** 기본 스타일 ******/
a {
  color: inherit;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.blind {
  overflow: hidden;
  position: absolute;
  margin: -1px;
  width: 1px;
  height: 1px;
}

.block {
  display: block;
}

.x_btn {
  width: 24px;
  height: 24px;
  background: url(../images/x_btn.svg) no-repeat 50% / contain;
  cursor: pointer;
}


/****** header ******/
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  padding: 0 2rem;
  width: 100%;
  height: 7rem;
  z-index: 9999;
  background-color: #fff;
  transition: 1s ease-out;
}

.header-down {
  top: -100%;
}

.header-up {
  top: 0;
}

.header-line {
  border-bottom: 1px solid #ccc;
}

header .logo {
  order: 2;
  
}

header .logo a {
  display: block;
  width: 96px;
  height: 30px;
  background: url(../images/logo.svg) no-repeat 50% / contain;
}

/****** header menu & serch ******/
header #gnb,
header #utill {
  display: none;
}

header .menu_icon,
header .serch_icon {
  width: 24px;
  height: 24px;
  background: no-repeat 50% / contain;
  cursor: pointer;
}

header .menu_icon {
  order: 1;
  background-image: url(../images/menu_ico.svg);
}

header .serch_icon {
  order: 3;
  background-image: url(../images/serch_ico.svg);
}

/****** mobile menu ******/
.m_gnb {
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 0;
  left: -100%;
  padding: 0 2rem;
  width: 100%;
  height: 100vh;
  background-color: #fff;
  font-size: 1.8rem;
  transition: 0.5s;
  overflow: hidden;
}

.m_gnb-view {
  left: 0;
}


#m_gnb .m_gnb-head {
  margin: 3rem 0 3.5rem;
  display: flex;
  justify-content: space-between;
}

#m_gnb .m_gnb-head h3 a {
  display: block;
  background: url(../images/logo.svg) no-repeat 50% / contain;
  width: 96px;
  height: 30px;
}


#m_gnb .m_gnb-menu {
  display: flex;
  flex-wrap: wrap;
}

#m_gnb .m_gnb-menu li {
  width: 50%;
  padding: 1.5rem 0;
}

#m_gnb .m_gnb-utill {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 0;
  bottom: 0;
  padding: 2rem 0;
  width: 100%;
  background-color: #f5f5f5;
  font-size: 1.6rem;
}

#m_gnb .m_gnb-utill li {
  margin: 0 1rem;
}

#m_gnb .m_gnb-utill li a {
  display: block;
  position: relative;
  padding: 1rem 1.5rem;
}

#m_gnb .m_gnb-utill li a::after {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  width: 1px;
  height: 10px;
  background-color: #ccc;
}

#m_gnb .m_gnb-utill li:last-child a::after {
  display: none;
}

/****** main_banner ******/
article {
  margin-top: 7rem;
  padding: 0 2rem;
}

article .slider {
  overflow: hidden;
  position: relative;
  height: calc(100vh - 9rem);
}

article .slider-pagination {
  display: flex;
  position: absolute;
  bottom: 0;
  right: 0;
  width: 46.154vw;
  height: 7rem;
  background-color: #fff;
  z-index: 9;
}

article .slider-pagination li {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 33.3333%;
  font-size: 1.6rem;
  font-weight: 700;
  color: #ccc;
  cursor: pointer;
}

article .slider-pagination li::after {
  content: "/";
  color: #eee;
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
}

article .slider-pagination li:last-child::after {
  display: none;
}

article .slider-pagination li.active {
  color: #DA291C;
}

article .slider-pagination li .pagination-title {
  display: none;
}

article .slider-wrap {
  display: flex;
  height: 100%;
}

article .slider-wrap li {
  width: 100%;
  flex-shrink: 0;
}

article .slider-wrap li a {
  display: block;
  width: 100%;
  height: 100%;
  background: no-repeat 50% / cover;
}

/* 메인배너 img */
article .slider-wrap li:nth-child(1) a{
  background-image: url(../images/m_banner_1.png);
}
article .slider-wrap li:nth-child(2) a{
  background-image: url(../images/m_banner_2.png);
}
article .slider-wrap li:nth-child(3) a{
  background-image: url(../images/m_banner_3.png);
}

/****** main ******/
section {
  position: relative;
  padding: 10rem 0;
}

.main-title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 2rem 5rem;
  font-size: 1.4rem;
  color: #54585A;
}

.main-title h2 {
  order: 2;
  font-size: 2.8rem;
  font-weight: 700;
  text-transform: uppercase;
  color: #DA291C;
}

.main-title p {
  order: 1;
}

.main-pagination {
  display: none;
  justify-content: center;
  margin-top: 6rem;
}

.main-pagination li {
  margin: 0 0.5rem;
  width: 6px;
  height: 6px;
  background-color: rgba(0,0,0,0.5);
  border-radius: 50%;
}

.ghost_btn {
  display: grid;
  place-items: center;
  height: 50px;
  border: 1px solid #DA291C;
  color: #000;
  font-size: 1.6rem;
  transition: 0.3s;
}

.d_day {
  color: #DA291C;
  text-transform: uppercase;
}

.slide-arrow {
  display: none;
  position: absolute;
  z-index: 99;
}

.slide-prev,
.slide-next {
  width: 22px;
  height: 22px;
  background: no-repeat 50% / contain;
  opacity: 0.5;
  cursor: pointer;
}

.slide-prev {
  background-image: url(../images/prev_arrow.svg);
}

.slide-next {
  background-image: url(../images/next_arrow.svg);
}

/****** best_movie ******/
#best_movie .best_movie-wrap {
  margin: 0 2rem;
}

#best_movie .best_movie-container {
  position: relative;
  display: flex;
  overflow: hidden;
}

#best_movie .best_movie-content {
  flex-shrink: 0;
  margin-right:2rem;
  color: #54585A;
  font-size: 1.6rem;
}

#best_movie .best_movie-content:last-child {
  margin-right: 2rem;
}

#best_movie .best-movie-img_box {
  position: relative;
  overflow: hidden;
  width: 71.282vw;
  height: 97.949vw;
  min-width: 278px;
  min-height: 382px;
}

#best_movie .best-movie-img_box-over {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255,255,255,0.8);
  opacity: 0;
  visibility: hidden;
  transition: 0.5s;
}
 
#best_movie .best-movie-img_box-over a {
  display: block;
  margin: 0.5rem 0;
  padding: 1rem 5rem;
  font-size: 1.6rem;
  border: 1px solid;
}

#best_movie .best-movie-img_box-over .ticketing {
  border-color: #DA291C;
  color: #DA291C;
  transition: 0.3s;
}

#best_movie .best-movie-img_box-over .movie_more {
  border-color: #999;
  color: #54585A;
  transition: 0.3s;
}

#best_movie .best-movie-img_box-over .like {
  position: absolute;
  bottom: 3rem;
  left: 50%;
  transform: translateX(-50%);
  width: 24px;
  height: 24px;
  border: none;
  background: url(../images/heart.svg) no-repeat 50% / contain;
  cursor: pointer;
  transition: 0.3s;
}

#best_movie .best_movie-tit {
  overflow: hidden;
  margin: 2rem 0 1.6rem;
  font-size: 2.4rem;
  text-overflow: ellipsis;
  color: #000;
  white-space: nowrap;
}

#best_movie .best_movie-sub_txt {
  display: block;
  margin-top: 1rem;
  font-size: 1.4rem;
}

#best_movie .best_movie-sub_txt-star {
  padding-left: 2rem;
  background: url(../images/star.svg) no-repeat 0 50% / contain;
}

/****** 시사회/무대인사 ******/
#preview {
  margin: 0 2rem;
  padding: 10rem 0;
  background: #f5f5f5 url(../images/bg.svg) no-repeat 60% 20% / cover;
}

#preview .main-title {
  padding: 0 2rem;
}

#preview .preview-tab {
  display: flex;
  justify-content: center;
  font-size: 1.4rem;
  color: #999;
}

#preview .preview-tab li {
  position: relative;
  margin: 1rem;
  padding: 2rem 1rem;
  cursor: pointer;
}

#preview .preview-tab li:first-child:after {
  content: "";
  position: absolute;
  top: 50%;
  right: -1rem;
  transform: translateY(-50%);
  display: block;
  width: 1px;
  height: 10px;
  background-color: #ddd;
}

#preview .preview-tab li.active {
  color: #000;
}

#preview .preview-container {
  position: relative;
  margin: 0 2rem;
}

#preview .preview-content {
  display: none;
}

#preview .preview-content.active {
  display: block;
}

#preview .preview-img {
  overflow: hidden;
  height: 79.487vw;
}

#preview .preview-txt {
  padding: 3rem 2rem;
  font-size: 1.4rem;
  color: #54585A;
  line-height: 2.4rem;
  background-color: #fff;
}

#preview .preview-txt em {
  font-style: normal;
  color: #DA291C;
}

#preview .preview-txt h4 {
  margin: 1rem 0 2rem;
  font-size: 2.4rem;
  font-weight: 500;
  line-height: 3.8rem;
  color: #000;
}

#preview .preview-txt p {
  display:-webkit-box;
  -webkit-line-clamp:3;
  -webkit-box-orient:vertical;
  height: 7.2rem;
  overflow: hidden;
  text-overflow: ellipsis;
}

#preview .preview-txt .ghost_btn {
  margin-top: 3rem;
  width: 11.9rem;
}

#preview .preview-arrow {
  display: flex;
  bottom: 4.4rem;
  right: 2rem;
}

#preview .preview-arrow .preview-prev {
  margin-right: 2rem;
}

/****** 상영 예정작 ******/
#new_movie .new_movie-wrap {
  margin: 0 2rem;
}

#new_movie .new_movie-container {
  display: flex;
  overflow: hidden;
}

#new_movie .new_movie-content {
  flex-shrink: 0;
  width: 71.282vw;
  min-width: 278px;
  font-size: 1.4rem;
  margin-right: 2rem;
}

#new_movie .new_movie-content p {
  margin: 3rem 0;
  color: #54585A;
  display:-webkit-box;
  -webkit-line-clamp:3;
  -webkit-box-orient:vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

#new_movie .new_movie-img_tit {
  position: relative;
  height: 99.231vw;
  min-height: 387px;
}

#new_movie .new_movie-tit {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  position: absolute;
  bottom: 0;
  left: 0;
  padding-right: 1rem;
  background-color: #fff;
  width: 55.128vw;
  height: 8rem;
}

#new_movie .new_movie-tit em {
  font-size: 1.6rem;
  font-style: normal;
  color: #54585A;
}

#new_movie .new_movie-tit h3 {
  overflow: hidden;
  font-size: 2.2rem;
  font-weight: 500;
  white-space: nowrap;
  text-overflow: ellipsis;
}

#new_movie .new_movie-content .more{
  position: relative;
  padding-left: 44px;
  color: #000;
}

#new_movie .new_movie-content .more::before {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  width: 34px;
  height: 1px;
  background-color: #DA291C;
}

/****** friends ******/
#friends {
  margin: 0 2rem;
  padding: 5rem 2rem;
  background: url(../images/img_lotte01.jpg) no-repeat 50% / cover;
}

#friends .friends-container {
  padding: 10rem 0;
  background-color: rgba(255,255,255,0.8);  
  text-align: center;
}

#friends .friends-container h2 {
  font-size: 2.8rem;
  font-weight: 700;
  color: #DA291C;
  text-transform: uppercase;
}

#friends .friends-container p {
  margin: 2rem 0 4rem;
  font-size: 1.4rem;
  color: #54585A;
}

#friends .friends-container .ghost_btn {
  margin: 0 auto;
  width: 180px;
}

/****** event ******/
#event .event-container {
  margin: 0 2rem;
  display: flex;
  overflow: hidden;
}

#event .event-content {
  flex-shrink: 0;
  margin-right: 2rem;
  width:71.282vw;
  min-width: 278px;
  font-size: 1.2rem;
  color: #767676;
}

#event .event-content em {
  display: block;
  margin-top: 3rem;
  font-style: normal;
  color: #DA291C;
}

#event .event-content h3 {
  margin-bottom: 1.2rem;
  font-size: 1.6rem;
  color: #000;
}

/****** 스페셜관 ******/
#special {
  margin: 0 2rem;
  padding-top: 0;
}

#special .special-grid {
  display: grid;
  gap: 10px;
  grid-template-columns: 1fr 1fr;
  grid-auto-rows: 8rem;
}

#special .special-grid li {
  border: 1px solid #ccc;
  transition: 0.5s;
}

#special .special-grid li a {
  display: grid;
  place-items: center;
  width: 100%;
  height: 100%;
  transition: 0.3s;
}

#special .special-grid li img {
  width: auto;
  height: 30px;
}

/****** footer ******/
footer {
  padding: 4rem 2rem;
  background-color: #54585A;
  font-size: 1.2rem;
  color: #ccc;
}

footer .footer-info {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 2.5rem;
  color: #fff;
}

footer .footer-info li {
  line-height: 2.4rem;
}

footer .footer-info .m_none {
  display: none;
}

footer .footer-address {
  display: flex;
  flex-direction: column;
}

footer .footer-address li {
  display: flex;
  flex-direction: column;
}

footer .footer-address li span {
  position: relative;
  display: inline-block;
  margin: 0.5rem 1rem 0.5rem 0 ;
  padding-right: 1rem;
}

footer .footer-address li .line::after {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  width: 1px;
  height: 10px;
  background-color: #ccc;
}

footer .footer-address li .line-none::after {
  display: none;
}

footer > p {
  margin: 1rem 0;
  text-transform: uppercase;
}

/****** go to top ******/
#goToTop {
  position: fixed;
  bottom: 25px;
  right: 25px;
  width: 50px;
  height: 50px;
  border: none;
  background: #DA291C url(../images/top.svg) no-repeat 50%;
  cursor: pointer;
  z-index: 999;
  visibility: hidden;
  opacity: 0;
  transition: 0.3s;
}

#goToTop.show {
  opacity: 1;
  visibility: visible;
}

#serch {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url(../images/img_lotte01.jpg) no-repeat 50% / cover;
  opacity: 0;
  visibility: hidden;
  transition: 0.5s;
}

#serch.serch-view {
  opacity: 1;
  visibility: visible;
  
}

#serch .serch-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 90%;
  height: 90vh;
  background-color: rgba(255,255,255,0.8);
}

#serch #serch_form {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
}

#serch .serch-wrap #serch_box {
  padding: 1rem 0;
  width: calc(100% - 42px);
  border: none;
  border-bottom: 1px solid #DA291C;
  background-color: transparent;
  color: #000;
  font-size: 2.4rem;
  font-weight: 700;
}

#serch .serch-wrap #serch_box::placeholder {
  color: #DA291C;
}

#serch .x_btn {
  position: absolute;
  top: 2rem;
  right: 2rem;
  width: 24px;
  height: 24px;
}

#serch #serch_btn { 
  background: url(../images/serch_ico_r.svg) no-repeat 50% / contain;
  width: 32px;
  height: 32px;
  border: none;
  cursor: pointer;
}

@media screen and (min-width: 500px) {
  /****** main content ******/
  #best_movie .best_movie-content,
  #new_movie .new_movie-content,
  #event .event-content {
    width: calc(50% - 1rem);
    min-width: auto;
  }

  /****** best_movie ******/
  #best_movie .best-movie-img_box {
    width: 100%;
    height: auto;
    min-width: auto;
    min-height: auto;
  }

  /****** new_movie ******/
  #new_movie .new_movie-img_tit {
    height: auto;
    min-height: auto;
  }

  #new_movie .new_movie-img_tit .new_movie-tit {
    width: 80%;
  }

  /****** event ******/
  #event .event-content img {
    height: auto;
  }
}

