@charset "utf-8";

/******* tiketing main *******/
#tiketing {
  margin-top: 7rem;
}

.tiketing-container {
  display: grid;
  grid-template-columns: 1fr;
}

.tiketing-container .title {
  display: grid;
  place-items: center;
  width: 100%;
  background-color: #da291c;
  font-size: 1.6rem;
  font-weight: 500;
  color: #fff;
}

/******* tiketing movie *******/

.tiketing-movie {
  display: grid;
  grid-template-rows: 6rem 1fr;
  background-color: #fff;
}

.tiketing-movie_option li {
  position: relative;
  padding: 2rem 0 2rem 6.2rem;
  background: no-repeat 30px 50%;
  border: 1px solid transparent;
  border-bottom: 1px solid #f5f5f5;
  font-size: 1.6rem;
  cursor: pointer;
}

.tiketing-movie_option li[data-active="on"] {
  display: none;
}

.tiketing-movie_option li[data-active="off"] {
  display: block;
}

.tiketing-movie_option li[data-active="on"].active {
  display: block;
  border: 1px solid #da291c;
}

/* 영화등급 */
.tiketing-movie_option li.grade_12 {
  background-image: url(../images/grade_12.svg);
}
.tiketing-movie_option li.grade_15 {
  background-image: url(../images/grade_15.svg);
}
.tiketing-movie_option li.grade_adult {
  background-image: url(../images/grade_adult.svg);
}
.tiketing-movie_option li.grade_all {
  background-image: url(../images/grade_all.svg);
}

/******* tiketing theater *******/
.tiketing-theater {
  display: grid;
  grid-template-rows: 6rem 6rem 1fr;
}

.tiketing-tab {
  display: flex;
  justify-content: space-between;
  font-size: 1.4rem;
  background-color: #fff;
}

.tiketing-tab li {
  width: 50%;
  position: relative;
  display: grid;
  border-bottom: 1px solid #ccc;
  place-content: center;
  cursor: pointer;
}

.tiketing-tab li.active::after {
  content: "";
  position: absolute;
  bottom: -1px;
  left: 0;
  display: block;
  width: 100%;
  height: 3px;
  background-color: #da291c;
}

.tiketing-area-wrap {
  position: relative;
  overflow: auto;
}

.tiketing-area {
  display: none;
}

.tiketing-area.show {
  display: block;
}

.tiketing-area > li {
  padding: 2rem 3rem;
  border: 1px solid transparent;
  font-size: 1.6rem;
  cursor: pointer;
  display: block;
}
/* 
.tiketing-area > li:not(.active) {
  display: none;
} */

.tiketing-area > li.active .tiketing-zone {
  display: none;
}

.tiketing-area > li[data-active="on"].active .tiketing-zone {
  display: block;
  top: auto;
  bottom: 0;
}



/* .tiketing-area.show .tiketing-zone {
  display: block;
} */

.tiketing-zone {
  display: none;
  position: absolute;
  left: 0;
  top: 100%;
  width: 100%;
  height: 100%;
}

.tiketing-zone > li {
  width: 100%;
  padding: 2rem 3rem;
  font-size: 1.6rem;
  background-color: #f5f5f5;
  border: 1px solid transparent;
}

.tiketing-zone > li.selected {
  background-color: #da291c;
  color: #fff;
}

.tiketing-area .select_theater {
  display: none;
  cursor: default;
}

/******* tiketing date *******/
.tiketing-date {
  display: grid;
  grid-template-rows: 6rem 14rem 1fr;
  background-color: #fff;
}

.tiketing-day {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-bottom: 1px solid #eee;
}

.tiketing-month {
  padding-bottom: 1rem;
  font-size: 2rem;
  font-weight: 500;
  text-align: center;
}

.tiketing-wrap {
  position: relative;
  margin: 0 auto;
  width: 21rem;
}

.tiketing-arrow {
  display: flex;
  justify-content: space-between;
  position: absolute;
  top: 50%;
  width: 100%;
  /* padding: 0 4rem; */
}

.tiketing-prev,
.tiketing-next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 24px;
  height: 24px;
  background: no-repeat 50% / contain;
  cursor: pointer;
}

.tiketing-prev {
  left: -4rem;
  background-image: url(../../images/prev_arrow.svg);
}

.tiketing-next {
  right: -4rem;
  background-image: url(../../images/next_arrow.svg);
}

.tiketing-week {
  display: flex;
  overflow: hidden;
}

.tiketing-date_area {
  flex-shrink: 0;
  margin: 0 0.5rem;
  padding: 1rem 0;
  width: 6rem;
  border: 1px solid #ccc;
  text-align: center;
  cursor: pointer;
}

.tiketing-date_area.active {
  border-color: #da291c;
}

.tiketing-date_area p {
  font-size: 1.2rem;
  color: #54585a;
}

.tiketing-date_area .date_value {
  font-size: 1.6rem;
  color: #000;
}

.tiketing-time {
  padding: 3rem 2rem;
}

.tiketing-time_container {
  margin-bottom: 3rem;
}

.tiketing-version {
  font-size: 1.4rem;
  display: flex;
  margin-bottom: 1.4rem;
}

.tiketing-version .place {
  position: relative;
  margin-left: 1rem;
  padding-left: 1rem;
}

.tiketing-version .place::before {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  width: 1px;
  height: 10px;
  background-color: #ccc;
}

.tiketing-menu {
  display: flex;
  flex-wrap: wrap;
}

.tiketing-menu li {
  border: 1px solid #ccc;
  margin: 0 1rem 1rem 0;
  width: 110px;
  cursor: pointer;
}

.tiketing-menu li:nth-child(3n) {
  margin-right: 0;
}

.tiketing-hour {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem 0;
  font-size: 1.2rem;
}

.tiketing-hour strong {
  font-size: 1.6rem;
}

.tiketing-place {
  display: flex;
  justify-content: space-between;
  background-color: #f5f5f5;
  padding: 0.5rem 1.6rem;
  font-size: 1.2rem;
}

.tiketing-place .tiketing-seat {
  color: #999;
}

.tiketing-place .tiketing-seat strong {
  color: #da291c;
}

/******* tiketing select *******/
.tiketing-select {
  display: flex;
  align-items: center;
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 12rem;
  background-color: #fff;
  border-top: 1px solid #000;
  z-index: 99;
}

.tiketing-select_movie,
.tiketing-select_date,
.tiketing_seatBtn {
  width: 33.3333%;
  padding: 0 1rem;
}

.tiketing-select_wrap {
  display: grid;
  text-align: center;
}

.tiketing-select_img {
  display: none;
  margin-right: 2rem;
  width: 84px;
  height: 120px;
  background: no-repeat 50% / contain;
  background-image: url(../images/poster_no.png);
}

.tiketing-select_txt {
  overflow: hidden;
}

.tiketing-select_txt h3 {
  overflow: hidden;
  font-size: 1.4rem;
  white-space: nowrap;
  text-overflow: ellipsis;
  font-weight: 500;
}

.tiketing-select_txt p {
  font-size: 1.2rem;
  color: #54585a;
}

.tiketing-select_date {
  font-size: 1.4rem;
}

.tiketing-select_date li {
  display: flex;
  justify-content: center;
  margin: 0.5rem 0;
}

.tiketing-select_date li span {
  display: none;
}

.tiketing-select_date li em {
  overflow: hidden;
  font-style: normal;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.tiketing_seatBtn a {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  width: 100px;
  height: 100px;
  text-align: center;
  line-height: 100px;
  font-size: 1.6rem;
}

.tiketing_seatBtn a::after {
  content: "";
  margin-left: 0.6rem;
  display: block;
  width: 16px;
  height: 16px;
  background: url(../../images/next_arrow.svg) 50% / contain;
  transition: transform 0.3s;
}

footer {
  margin-bottom: 12rem;
}

#goToTop {
  bottom: 145px;
}
