@charset "utf-8";
/******* tiketing main *******/
.tiketing-container {
  position: relative;
  height: calc(100vh - 7rem);
  grid-template-columns: 30% 30% 40%;
  grid-template-rows: calc(100% - 150px) 150px;
}

.tiketing-container .title {
  border-right: 1px solid rgba(255, 255, 255, 0.3);
}

.tiketing-container .tiketing-date .title {
  border: none;
}


/******* tiketing movie *******/
.tiketing-movie {
  border-right: 1px solid #eee;
}

.tiketing-movie_option {
  overflow-y: auto;
}

/******* tiketing theater *******/
.tiketing-theater {
  border-right: 1px solid #eee;
}

.tiketing-area {
  height: 100%;
  overflow-y: auto;
  background-color: #fff;
}

.tiketing-area > li {
  padding: 1.2rem 2rem;
}

/******* tiketing date *******/
.tiketing-time {
  overflow-y: auto;
}

.tiketing-select {
  position: static;
  grid-column: 1 / span 3;
  justify-content: flex-start;
  height: auto;
}

/******* tiketing select *******/
.tiketing-select_movie {
  position: relative;
  width: 300px;
  padding: 0 2rem 0 3rem;
}

.tiketing-select_movie::after,
.tiketing-select_date::after {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  width: 1px;
  height: 100px;
  background-color: #eee;
}

.tiketing-select_wrap {
  text-align: left;
  gap: 2rem;
  grid-template-columns: 84px 1fr;
}

.tiketing-select_txt h3 {
  font-size: 1.8rem;
}

.tiketing-select_img {
  display: block;
}

.tiketing-select_date {
  position: relative;
  width: 300px;
  height: 120px;
  padding: 0 3rem;
}
.tiketing-select_date li {
  justify-content: flex-start;
}

.tiketing-select_date li span {
  display: block;
  width: 50px;
  color: #54585a;
}

.tiketing_seatBtn {
  width: auto;
  margin-left: auto;
  padding: 0 3rem;
}
