@charset "utf-8";

.movie-title {
  height: 30rem;
}

.movie-title h2 {
  font-size: 4rem;
}

.movie-dropdown {
  width: 230px;
  max-width: none;
  font-size: 1.6rem;
}

.movie-content.show {
  grid-template-columns: repeat(auto-fit, minmax(31%, auto));
  gap: 2rem;
}

.movie-content li {
  flex-direction: column;
}

.movie-img {
  width: 100%;
}

.movie-text {
  margin: 2rem 0 0;
}

.movie-text h3 {
  margin-bottom: 2rem;
  width: 100%;
  height: 3rem;
}

.movie-text p {
  display: block;
  margin: 0.4rem 0 0;
}

.movie-text h3 a {
  overflow: hidden;
  display: block;
  width: 100%;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.movie-tiketing {
  left: auto;
  right: 0;
  width: 120px;
  height: 40px;
  line-height: 40px;
}

.movie-more {
  margin: 2rem 0 15rem;
}
